{% extends 'base.html' %}

{% load static %}
{% load form_tags %}
{% block content %}
<div class="container mt-4">
 <div class="card">
    <div class="card-header">
      <h4>{{ page_title|default:"Submit New IP Request" }}</h4>
    </div>

    <div class="card-body">
  
          <form method="post">
                {% csrf_token %}
                 {{ form.as_p }}
                 <br/>
                 <br/>
                <button type="submit" class="btn btn-primary">{{ submit_label|default:"Submit" }}</button>
            </form>
    </div>
</div>
</div>
{% endblock %}
