asgiref==3.9.1
Django==5.2.5
django-formtools==2.5.1
django-jalali==7.4.0
django-otp==1.6.1
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
Faker==37.5.3
ipaddress==1.0.23
jalali_core==1.0.0
jdatetime==5.2.0
phonenumberslite==9.0.13
pillow==11.3.0
psycopg2-binary==2.9.10
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
